#text,
#icon {
  line-height: 50px;
}
#icon {
  vertical-align: middle;
  font-size: 30px;
}
  body{
    background-image: linear-gradient(#2C73D2,#0081CF,#0089BA);
  }
.header{
    text-align: center;
    margin: 5%;
    padding: 5%;
    border: 3px solid black;
}
.container{
    border: 2px solid black;
}


.mass{
    text-align: center;
}
body{
    font-size: 30px;
}
.header{
  background-image: linear-gradient(to right,#D65DB1,#FF9671);
}
#mouse{
  background-image: linear-gradient(to bottom,#F9F871,#FFC75F);
  
}
#computer{
  background-image: linear-gradient(to bottom,#FF9671,#FFC75F);
}